APP_ENV=
FRONTEND_URL=
DATABASE_NAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_USER=
BUCKET_SECRET_KEY=
BUCKET_ACCESS_KEY_ID=
BUCKET_NAME=
BUCKET_REGION=
BUCKET_ENDPOINT_URL=
ACCESS_SECRET_KEY=
REFRESH_SECRET_KEY=
SESSION_SECRET_KEY=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_REDIRECT_URL=
REDIS_HOST=
REDIS_PORT=
REDIS_DB=
BREVO_API_KEY=
FROM_EMAIL=